/*html, body {
  display: flex;
}*/

#main-app {
  display: flex;
  flex-direction: column;
}

  #introduction {
    flex: 1;
  }

  #root {
    flex: 1;
  }

  .detailsNav {
    position: sticky;
    top: 0px;
    min-height: 50px;
    max-height: 50px;
  }